# Dependencias
node_modules/
frontend/node_modules/

# Archivos de configuración y secretos
.env
.idea/

# Archivos generados y subidas
frontend/dist/
backend/uploads/*
!backend/uploads/.gitkeep

# Ignorar configuración sensible
backend/.env
.vscode/